In [59]:
import pandas as pd
from datetime import datetime
from datetime import date
import json
import math
import xlrd
import numpy as np

hubs_dict = {'ARICA': 'IQUIQUE',
 'IQUIQUE': 'IQUIQUE',
 'ANTOFAGASTA': 'ANTOFAGASTA',
 'COPIAPO': 'COPIAPO',
 'COQUIMBO': 'COQUIMBO',
 'OVALLE': 'COQUIMBO',
 'ILLAPEL': 'CURAUMA',
 'LLAY LLAY': 'CURAUMA',
 'CURAUMA': 'CURAUMA',
 'CERVECERA': 'SANTIAGO SUR',
 'MODELO': 'SANTIAGO SUR',
 'SANTIAGO SUR': 'SANTIAGO SUR',
 'RANCAGUA': 'SANTIAGO SUR',
 'TALCA': 'TALCA',
 'CHILLAN': 'TALCAHUANO',
 'TALCAHUANO': 'TALCAHUANO',
 'LOS ANGELES': 'TALCAHUANO',
 'TEMUCO': 'TEMUCO',
 'VALDIVIA': 'VALDIVIA',
 'OSORNO': 'VALDIVIA',
 'PUERTO MONTT': 'PUERTO MONTT',
 'CASTRO': 'PUERTO MONTT',
 'COYHAIQUE': 'COYHAIQUE',
 'CALAMA': 'ANTOFAGASTA'}

datos_no_agrupados = pd.read_csv('../data/stats_no_agrupados_limpios.csv')
datos_agrupados = pd.read_csv('../data/stats_agrupados_limpios.csv')
datos_no_agrupados = datos_no_agrupados.drop(columns='Unnamed: 0')
datos_agrupados = datos_agrupados.drop(columns='Unnamed: 0')

In [5]:
datos_no_agrupados

,ID_SKU_VENTA,DESCR_CENDIST,MEDIA,STD,COEF_VAR,SS,STOCK_TEORICO,PORCENTAJE_SS_DEL_TOTAL
0,515,ANTOFAGASTA,0.400533,0.707064,1.765305,1.166655,1.567188,0.744425
1,515,ARICA,0.041857,0.140730,3.362170,0.232205,0.274062,0.847272
2,515,CALAMA,0.219591,0.443948,2.021702,0.732515,0.952106,0.769363
3,515,CASTRO,0.120733,0.300728,2.490851,0.496202,0.616935,0.804302
4,515,CERVECERA,7.967758,11.686926,1.466777,19.283427,27.251186,0.707618
...,...,...,...,...,...,...,...,...
25179,875225,VALDIVIA,0.000280,0.004112,14.661585,0.006785,0.007065,0.960304
25180,875359,SANTIAGO SUR,0.008413,0.242681,28.844410,0.400424,0.408838,0.979421
25181,875365,CURAUMA,0.016827,0.342997,20.383802,0.565945,0.582771,0.971126
25182,875365,SANTIAGO SUR,0.008413,0.242681,28.844410,0.400424,0.408838,0.979421
25183,875556,PUERTO MONTT,0.008413,0.242681,28.844410,0.400424,0.408838,0.979421

In [6]:
datos_agrupados

,ID_SKU_VENTA,DESCR_CENDIST,MEDIA,STD,COEF_VAR,SS,STOCK_TEORICO,PORCENTAJE_SS_DEL_TOTAL
0,515,ANTOFAGASTA,0.620125,1.004138,1.619252,1.656828,2.276953,0.727651
1,515,COPIAPO,0.225060,0.463361,2.058834,0.764546,0.989606,0.772576
2,515,COQUIMBO,0.930529,1.629458,1.751110,2.688606,3.619135,0.742886
3,515,COYHAIQUE,0.047326,0.127939,2.703376,0.211100,0.258425,0.816869
4,515,CURAUMA,0.104958,0.271470,2.586467,0.447926,0.552884,0.810163
...,...,...,...,...,...,...,...,...
13201,875225,VALDIVIA,0.002991,0.020249,6.768970,0.033411,0.036402,0.917823
13202,875359,SANTIAGO SUR,0.008413,0.242681,28.844410,0.400424,0.408838,0.979421
13203,875365,CURAUMA,0.016827,0.342997,20.383802,0.565945,0.582771,0.971126
13204,875365,SANTIAGO SUR,0.008413,0.242681,28.844410,0.400424,0.408838,0.979421
13205,875556,PUERTO MONTT,0.008413,0.242681,28.844410,0.400424,0.408838,0.979421

In [11]:
datos_finales = datos_no_agrupados.merge(datos_agrupados, on=['ID_SKU_VENTA', 'DESCR_CENDIST'], how='outer')

In [13]:
datos_finales = datos_finales.fillna(0)

In [14]:
datos_finales

,ID_SKU_VENTA,DESCR_CENDIST,MEDIA_x,STD_x,COEF_VAR_x,SS_x,STOCK_TEORICO_x,PORCENTAJE_SS_DEL_TOTAL_x,MEDIA_y,STD_y,COEF_VAR_y,SS_y,STOCK_TEORICO_y,PORCENTAJE_SS_DEL_TOTAL_y
0,515,ANTOFAGASTA,0.400533,0.707064,1.765305,1.166655,1.567188,0.744425,0.620125,1.004138,1.619252,1.656828,2.276953,0.727651
1,515,ARICA,0.041857,0.140730,3.362170,0.232205,0.274062,0.847272,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,515,CALAMA,0.219591,0.443948,2.021702,0.732515,0.952106,0.769363,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,515,CASTRO,0.120733,0.300728,2.490851,0.496202,0.616935,0.804302,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,515,CERVECERA,7.967758,11.686926,1.466777,19.283427,27.251186,0.707618,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25458,870669,SANTIAGO SUR,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500473,4.122693,8.237585,6.802444,7.302917,0.931469
25459,870670,SANTIAGO SUR,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.787360,6.446479,8.187463,10.636690,11.424050,0.931079
25460,870871,VALDIVIA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002041,0.031116,15.244596,0.051342,0.053383,0.961764
25461,870872,ANTOFAGASTA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000199,0.005744,28.844410,0.009477,0.009677,0.979421
25462,870873,VALDIVIA,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001294,0.030588,23.631344,0.050470,0.051764,0.974995

In [16]:
datos_finales_agrupados = datos_finales[['ID_SKU_VENTA', 'DESCR_CENDIST', 'MEDIA_x', 'SS_y']]

In [22]:
datos_finales_agrupados = datos_finales_agrupados.rename(columns={'MEDIA_x': 'MEDIA', 'SS_y': 'SS'})

In [23]:
datos_finales_agrupados

       ID_SKU_VENTA DESCR_CENDIST     MEDIA         SS
0               515   ANTOFAGASTA  0.400533   1.656828
1               515         ARICA  0.041857   0.000000
2               515        CALAMA  0.219591   0.000000
3               515        CASTRO  0.120733   0.000000
4               515     CERVECERA  7.967758   0.000000
...             ...           ...       ...        ...
25458        870669  SANTIAGO SUR  0.000000   6.802444
25459        870670  SANTIAGO SUR  0.000000  10.636690
25460        870871      VALDIVIA  0.000000   0.051342
25461        870872   ANTOFAGASTA  0.000000   0.009477
25462        870873      VALDIVIA  0.000000   0.050470

[25463 rows x 4 columns]

In [24]:
datos_finales_agrupados['INVENTARIO_TOTAL'] = datos_finales_agrupados.apply(lambda x: x.MEDIA + x.SS, axis=1)

In [28]:
datos_finales_agrupados.to_csv('../data_variabilidad_agrupada/datos_agrupados.csv')

In [26]:
datos_no_agrupados = datos_no_agrupados[['ID_SKU_VENTA', 'DESCR_CENDIST', 'MEDIA', 'SS', 'STOCK_TEORICO']].rename(columns={'STOCK_TEORICO': 'INVENTARIO_TOTAL'})

In [29]:
datos_no_agrupados.to_csv('../data_variabilidad_agrupada/datos_no_agrupados.csv')

In [30]:
data_diferencias = datos_finales_agrupados.merge(datos_no_agrupados, on=['ID_SKU_VENTA', 'DESCR_CENDIST'], how='outer')

In [32]:
data_diferencias = data_diferencias.fillna(0)

In [34]:
data_diferencias['DELTA_INVENTARIO'] = data_diferencias.apply(lambda x: x['INVENTARIO_TOTAL_x'] - x['INVENTARIO_TOTAL_y'], axis=1)

In [35]:
data_diferencias = data_diferencias[['ID_SKU_VENTA', 'DESCR_CENDIST', 'DELTA_INVENTARIO']]

In [39]:
data_diferencias.to_csv('../data_variabilidad_agrupada/delta_inventario_sku_cd.csv')

In [41]:
data_diferencias['DELTA_INVENTARIO'].sum()

-4756.541917880275

In [42]:
data_diferencias

       ID_SKU_VENTA DESCR_CENDIST  DELTA_INVENTARIO
0               515   ANTOFAGASTA          0.490173
1               515         ARICA         -0.232205
2               515        CALAMA         -0.732515
3               515        CASTRO         -0.496202
4               515     CERVECERA        -19.283427
...             ...           ...               ...
25458        870669  SANTIAGO SUR          6.802444
25459        870670  SANTIAGO SUR         10.636690
25460        870871      VALDIVIA          0.051342
25461        870872   ANTOFAGASTA          0.009477
25462        870873      VALDIVIA          0.050470

[25463 rows x 3 columns]

In [43]:
valor_por_sku = pd.read_csv('../data/Valor por SKU.csv', encoding = "ISO-8859-1")

In [45]:
valor_por_sku = valor_por_sku[['SKU', 'Precio Caja']]

In [46]:
valor_por_sku

         SKU   Precio Caja
0        515  15076.045720
1        592   9982.496771
2        595   9452.687584
3        622  22724.397440
4        763   9740.679385
...      ...           ...
1741  875108    492.767981
1742  875218   3215.506791
1743  875219   3178.381023
1744  875220   3252.024100
1745  875225   2664.644839

[1746 rows x 2 columns]

In [47]:
conversion = pd.read_csv('../data/conversiones_unidades.csv', encoding = "ISO-8859-1")[['ID_SKU_VENTA', 'CAJAS_POR_PALLET']]
sku_pallets = {}
for index, row in conversion.iterrows():
    sku_pallets[row['ID_SKU_VENTA']] = row['CAJAS_POR_PALLET']

In [49]:
valor_por_sku['Precio Pallet'] = valor_por_sku.apply(lambda x: x['Precio Caja'] * sku_pallets[x['SKU']], axis=1)

<ipython-input-49-0ed088f9acca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  valor_por_sku['Precio Pallet'] = valor_por_sku.apply(lambda x: x['Precio Caja'] * sku_pallets[x['SKU']], axis=1)

In [50]:
valor_por_sku

         SKU   Precio Caja  Precio Pallet
0        515  15076.045720  603041.828800
1        592   9982.496771  399299.870840
2        595   9452.687584  945268.758400
3        622  22724.397440  181795.179520
4        763   9740.679385  487033.969250
...      ...           ...            ...
1741  875108    492.767981  780544.482538
1742  875218   3215.506791  868186.833570
1743  875219   3178.381023  858162.876210
1744  875220   3252.024100  878046.507000
1745  875225   2664.644839  719454.106530

[1746 rows x 3 columns]

In [53]:
valor_por_sku = valor_por_sku.rename(columns={'SKU': 'ID_SKU_VENTA'})
data_diferencias_precios = data_diferencias.merge(valor_por_sku, on='ID_SKU_VENTA')

In [54]:
data_diferencias_precios

,ID_SKU_VENTA,DESCR_CENDIST,DELTA_INVENTARIO,Precio Caja,Precio Pallet
0,515,ANTOFAGASTA,4.901731e-01,15076.045720,603041.82880
1,515,ARICA,-2.322049e-01,15076.045720,603041.82880
2,515,CALAMA,-7.325148e-01,15076.045720,603041.82880
3,515,CASTRO,-4.962018e-01,15076.045720,603041.82880
4,515,CERVECERA,-1.928343e+01,15076.045720,603041.82880
...,...,...,...,...,...
25177,875225,SANTIAGO SUR,1.133126e+00,2664.644839,719454.10653
25178,875225,TALCA,0.000000e+00,2664.644839,719454.10653
25179,875225,TALCAHUANO,3.310051e-02,2664.644839,719454.10653
25180,875225,TEMUCO,-2.775558e-17,2664.644839,719454.10653
25181,875225,VALDIVIA,2.662644e-02,2664.644839,719454.10653

In [57]:
(data_diferencias_precios['DELTA_INVENTARIO'] * data_diferencias_precios['Precio Pallet']).sum()

-3158361659.2260294

In [60]:
datos_no_agrupados['STOCK_TEORICO'].sum()

90820.65532391537