In [5]:
lead_times = pd.read_csv('../data/lead_times.csv', encoding = "ISO-8859-1")

In [6]:
lead_times

,Clave,Origen_Loc,Origen,Destino_LOC,Destino,LDT [Días]
0,CERVECERA_RGUA TCCU,32,CERVECERA,20,RGUA TCCU,0.780505
1,CERVECERA_COQUIMBO,32,CERVECERA,5,COQUIMBO,1.515789
2,CERVECERA_OVALLE TCCU,32,CERVECERA,28,OVALLE TCCU,1.278377
3,MODELO_ANTOFAGASTA,7,MODELO,3,ANTOFAGASTA,4.006445
4,SAN FRANCISCO_MODELO,80,SAN FRANCISCO,7,MODELO,0.899784
...,...,...,...,...,...,...
350,L.ANGELES NUEVO_CD8000,13,L.ANGELES NUEVO,8,CD8000,1.381579
351,TEMUCO_OVALLE TCCU,14,TEMUCO,28,OVALLE TCCU,2.623482
352,TEMUCO_COQUIMBO,14,TEMUCO,5,COQUIMBO,1.684211
353,COINCO_VTA ONLINE,83,COINCO,59,VTA ONLINE,0.798968
354,CD8000_PATAGONA,8,CD8000,18,PATAGONA,NaN

In [9]:
lead_times_dict = {}

for index, row in lead_times.iterrows():
    
    lead_times_dict[(row['Origen'], row['Destino'])] = row['LDT [Días]']

In [27]:
all_data

,DESCR_CENDIST,ID_SKU_VENTA,FECHA,Venta en pallets,HUB
0,ANTOFAGASTA,515,2018-01-02,0.100,ANTOFAGASTA
1,ANTOFAGASTA,515,2018-01-03,0.125,ANTOFAGASTA
2,ANTOFAGASTA,515,2018-01-04,0.275,ANTOFAGASTA
3,ANTOFAGASTA,515,2018-01-05,0.400,ANTOFAGASTA
4,ANTOFAGASTA,515,2018-01-06,0.000,ANTOFAGASTA
...,...,...,...,...,...
20953083,VALDIVIA,875225,2020-09-25,0.000,VALDIVIA
20953084,VALDIVIA,875225,2020-09-26,0.000,VALDIVIA
20953085,VALDIVIA,875225,2020-09-28,0.000,VALDIVIA
20953086,VALDIVIA,875225,2020-09-29,0.000,VALDIVIA
20953087,VALDIVIA,875225,2020-09-30,0.000,VALDIVIA

In [28]:
mean_lead_times = lead_times['LDT [Días]'].mean()

In [29]:
mean_lead_times

2.8626213198100356

In [33]:
def assign_lead_time(x, lead_times_dict, mean_lead_times):
    if (x['HUB'], x['DESCR_CENDIST']) in lead_times_dict:
        return  lead_times_dict[(x['HUB'], x['DESCR_CENDIST'])]
    elif  x['HUB'] == x['DESCR_CENDIST']:
        return 0
    else:
        return mean_lead_times

In [34]:
all_data['lead_time'] = all_data.apply(lambda x: assign_lead_time(x, lead_times_dict, mean_lead_times), axis=1)

In [35]:
all_data

,DESCR_CENDIST,ID_SKU_VENTA,FECHA,Venta en pallets,HUB,lead_time
0,ANTOFAGASTA,515,2018-01-02,0.100,ANTOFAGASTA,0.0
1,ANTOFAGASTA,515,2018-01-03,0.125,ANTOFAGASTA,0.0
2,ANTOFAGASTA,515,2018-01-04,0.275,ANTOFAGASTA,0.0
3,ANTOFAGASTA,515,2018-01-05,0.400,ANTOFAGASTA,0.0
4,ANTOFAGASTA,515,2018-01-06,0.000,ANTOFAGASTA,0.0
...,...,...,...,...,...,...
20953083,VALDIVIA,875225,2020-09-25,0.000,VALDIVIA,0.0
20953084,VALDIVIA,875225,2020-09-26,0.000,VALDIVIA,0.0
20953085,VALDIVIA,875225,2020-09-28,0.000,VALDIVIA,0.0
20953086,VALDIVIA,875225,2020-09-29,0.000,VALDIVIA,0.0
20953087,VALDIVIA,875225,2020-09-30,0.000,VALDIVIA,0.0

In [36]:
all_data.to_csv('../data/datos_limpios_filtrados_lead_times.csv')

In [14]:
test = all_data[['HUB', 'DESCR_CENDIST']]

In [21]:
possibilities = test.drop_duplicates().reset_index().drop(columns='index')

In [26]:
for index, row in possibilities.iterrows():
    if (row['HUB'], row['DESCR_CENDIST']) not in lead_times_dict and row['HUB'] != row['DESCR_CENDIST']:
        print(f'Par {row["HUB"]}, {row["DESCR_CENDIST"]} no está en los datos.')

Par IQUIQUE, ARICA no está en los datos.
Par PUERTO MONTT, CASTRO no está en los datos.
Par No info, CERVECERA no está en los datos.
Par TALCAHUANO, CHILLAN no está en los datos.
Par CURAUMA, ILLAPEL no está en los datos.
Par CURAUMA, LLAY LLAY no está en los datos.
Par TALCAHUANO, LOS ANGELES no está en los datos.
Par No info, MODELO no está en los datos.
Par VALDIVIA, OSORNO no está en los datos.
Par COQUIMBO, OVALLE no está en los datos.
Par SANTIAGO SUR, RANCAGUA no está en los datos.